/**************** Formatações padrão ****************/
body {
  font-weight: 400;
  font-size: 1em;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #d8e0e4;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #289edb;
  outline: none;
}

/* Barra de rolagem vertical */
.content::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.content::-webkit-scrollbar-track {
    background-color: #00000023; /* Cor de fundo da área de rastreamento */
}

.content::-webkit-scrollbar-thumb {
    background-color: #1d2b43; /* Cor da barra de rolagem */
}

/**************** Barra de navegação e menu ****************/


.menu-wrap a {
  color: #fff;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #fff;
}

/* Menu */
.menu-wrap {
  background: url('../imagens/bg-menu.png');
  position: absolute;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  width: 100%;
  height: 100%;
}

.menu-wrap::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79);
}

.menu-top {
  line-height: 58px;
  position: absolute;
}

.menu-top .profile {
  display: inline-block;
  padding: 8px 10px;
  line-height: 42px;
}

.menu-side {
  margin-top: 60px;
}

.menu-top .profile,
.menu-side {
  width: 300px;
}

.menu-top .profile img {
  float: left;
  margin-right: 1em;
}

.icon-list {
  display: inline-block;
  font-size: 1.25em;
}

.icon-list a {
  margin: 0 1em 0 0;
  padding: 0;
}

@media screen and (max-width: 32em) {
  .icon-list {
    padding-left: 1em;
  }
}

.menu-side a {
  display: block;
  padding: 1.2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.menu-side a:first-child {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.profile {
  color: #fff;
}


/* Shown menu */
.show-menu .menu-wrap {
  opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
  -webkit-transform: translate3d(300px,60px,0);
  transform: translate3d(300px,60px,0);
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.menu-button::before {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Menu Button */
.menu-button {
  position: fixed;
  z-index: 1000;
  border: 1px solid #fff;
  border-radius: 0;
  margin: 32px;
  font-size: 2em;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.menu-button:hover {
  opacity: 0.6;
  color: #fff;
  border: 1px solid #fff;
}

/*Conteúdo movido na animação*/
html, 
body, 
.container_mod, 
.content-wrap, .content, .container_mod_class {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container_mod {
  background: #131313;
}

.content {
  overflow-y: scroll;
}

.content-wrap, .content {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.content {
  position: relative;
}

.menu-wrap a.link-menu:hover {
  color: #00e1ff;
}


/**************** Seção usuário ****************/

/*Área do usuário*/
.area_usuario {
  z-index: 0;
  display: table;
  padding-top: 111px;
  background-image: url('../imagens/bg-secao-sobre.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.area_usuario::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 61, 86, 0.6);
}

/*Perfil usuário*/
.bloco_usuario {
	padding: 30px;
  background: #fff;
  box-shadow: 0 0 10px -3px #2e3d42;
  -webkit-animation-duration: 2s; 
  animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.bloco_usuario h2 {margin: 30px 0;}

.bloco_usuario .funcao {
  background: #d8e0e4;
  padding: 26px 36px;
  margin: 0 auto;
  letter-spacing: 2px;
}

.bloco_usuario img {
    margin: auto;
    width: 100%;
}

.img-fluid {display: block;}
/*Fim perfil usuário*/

/*Descrição usuário*/
.descricao_usuario {
  z-index: 1;
  color: #fff;
  padding-left: 20px;
  padding-right: 0;
  margin-top: 12px;
}

.descricao_usuario h2.ola {
  background: #333;
  text-align: center;
  width: 134px;
  padding: 25px 0;
  margin: 18px 0 30px 0;
  color: #fff;
}

.descricao_usuario h2 {
  line-height: 1.4;
}

.descricao_usuario a {
  width: 268px;
  height: 58px;
  margin-top: 50px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  line-height: 3;
  transition: all 0.3s ease-in-out;
}

.descricao_usuario a .icone_resumo {
  margin-right: 15px;
}

.descricao_usuario a:hover {
  background: #fff;
  color: #000;
}


/*Fim descrição usuário*/


/**************** Seção habilidades ****************/
.header_hab {
  color: #ffffff;
  padding-top: 30px;
}

.header_hab h1 {
  margin: 0;
}


.section_hab {
  background-color: #131313;
  min-height: 100vh;
}

.tab-content {
  background-color: rgba(255, 255, 255, 0.6);
  background-color: #212529;
}

.tab-content>.active {
  min-height: 650px;
}

.nav-pills {
  height: 100%;
}

.nav-pills .nav-link {
  height: 100%;
  border-radius: 0;
  padding-top: 4.2%;
}

.nav-item {
  width: 50%;
  font-size: 17px;
  text-align: center;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.nav-item a i {
  padding-right: 5px;
}

.filter-button {
  color: #57657a;
  border: none;
}

.line_hab {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
}

.line_hab span {
  height: 2px;
  background: #289edb;
  width: 100%;
}

.nav_link, .btn-group, .card_titulo i {
  color: #289edb;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #289edb;
  background-color: #212529;
}

.nav-link {
  color: #fff;
}

/* table content */
.conteudo_tabela {
  color: #646262;
  padding: 20px;
  padding-right: 10px;
}

#item-list, #segunda-lista {
  list-style: none;
  padding: 0;
  display: contents;
}

.card_list {
  background: rgba(0,0,0,0.55);
  margin: 10px;
  padding: 10px;
  padding-bottom: 45px;
}

.row_items {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.veja_mais {
  padding-top: 10px;
  color: #289edb;
  float: right;
}

.veja_mais:hover {
  font-size: 17px;
}

.card_titulo {
  font-size: 24px;
  color: #fff;
}

/* barra */

.barra_bar {
  position: relative;
  display: block;
  margin-bottom: 5px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.barra_porcento_right {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
}

.progresso_bg {
  width: 100%;
  height: 3px;
  background: #ffffff;
  position: absolute;
  z-index: 0;
}

.progresso_barra {
  height: 3px;
  width: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  background: #289edb;
}

/* EXPANDIR/CONTRAIR DIV */
.conteudo_expandido {
  display: none;
  padding-top: 20px;
  color: #fff;
}

.expanded .conteudo_expandido {
  display: block;
}

.nav {
  --bs-nav-link-hover-color: #289edb;
}

.filter-button b:hover {
  color: #289edb;
}

.btn {
  --bs-btn-color: #289edb;
}


/**************** Seção informações ****************/
.info_section {
  background-color: #1b273e;
}

.col_info {
  padding: 40px 0;
}

.infos_titulo {
  text-align: center;
}

.infos_titulo h2 {
  font-size: 30px;
  color: #fff;
}

.infos_titulo p {
  color: #fff;
}

.secao_bg {
  border: 1px solid #ffffff;
  width: 58px;
  height: 59px;
  padding: 10px;
  margin: 30px auto 0 auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p_bg i {
  color: #ffffff;
  font-size: 25px;
}


.secao_bg p.p_bg {
  width: 36px;
  height: 30px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  margin: 5px auto;   
  display: flex;
  align-items: center;
  justify-content: center;
}

/*info*/
.ul_info {
  list-style: none;
  padding: 0;
}

.ul_info li {
  display: flex;
  height: 220px;
}

/*linha lateral*/
.parent_div {
  float: left;
  /* Defina o tamanho da div pai conforme necessário */
  width: 10px;
  height: 100%;
  /* Outros estilos para a div pai, se necessário */
}

.area_circulo_info {
  position: relative;
  width: 100%;
  height: 100%;
}

.linha_info {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.circulo_info {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* /linha lateral */

.conteudo_direita {
  float: right;
  width: 50.5%;
}

.conteudo_direita p {
  height: 100%;
  padding-left: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.conteudo_esquerda {
  width: 49.5%;
  font-size: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: end;
  color: #fff;
  display: flex;
}


/**************** Seção projetos ****************/
.projetos_section {
  /* background-image: url("../imagens/ceu3.png"); */
  background: linear-gradient(to bottom, #1b273e, #121212);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.blog-intro {
	position: relative;
	margin-bottom: 30px;
  max-width: 250px;
	background: #fff;
	cursor: pointer;
	padding: 30px 30px 26px;
	overflow: hidden;
  transition: background .2s ease-in-out, transform .2s ease-in-out;
  backface-visibility: hidden; /* Adicione esta linha */
}

.blog-intro img {
	margin: 0 auto 24px auto;
	width: 100%;
}

.blog-intro hr {margin: 25px auto 27px;}

.blog-intro b {
	text-transform: capitalize;
	display: block;
}

.blog-intro a {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 77.03%;
	height: 37px;
	border: 1px solid #fff;
	border-radius: 0;
	background: #333;
	color: #ccc;
  text-transform: uppercase;
	font-weight: bold;
	transform: translate3d(0, 200px, 0);
	transition: .1s transform .1s ease-in-out;
  will-change: transform;
}

.blog-intro a:hover {
  background: #fff;
	border: 1px solid #ccc;
	color: #333;
}

.blog-intro span {
  font-size: 10px;
}

.blog-intro:hover {
	background: #333;
	color: #fff;
}

.blog-intro:hover span,
.blog-intro:hover hr {visibility: hidden;}
.blog-intro:hover a {transform: translateY(0);}

.container-projetos {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
}

.sub-projetos {
  display: flex;
}

.blog-intro {
  flex: 0 0 auto;
  margin-right: 30px;
}

.container-projetos::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #ffffff00;
  border-radius: 5px;
}

.container-projetos::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #1b273e;
  border-radius: 5px;
}

.scroll-container {
  display: flex;
  align-items: center;
}

.scroll-icon {
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}



/**************** Seção contato ****************/

.form-control {
  color: #fff;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  background: transparent;
}

.form-control:focus {
  color: #fff;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 12px;
}

.form-group input {
  height: 50px;
  position: relative;
  z-index: 1000;
}

.form-group textarea {
  height: 100px;
  position: relative;
  z-index: 1000;
}

.custom-input {
  position: relative;
}

/* título */

.cntt_titulo h2 {
  padding-top: 30px;
  color: #9da1a5;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.img_cntt img {
  width: 100%;
}

.cntt_section {
  background: #121212;
  display: flex;
  align-items: center;
}

.cntt_section form {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0 30px;
}

/* Estiliza o texto do placeholder */
.custom-input input::placeholder, .custom-input textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  text-align: center;
  font-family: "Sans Light";
}

/* Estiliza o texto do placeholder em campos com focus */
.custom-input input:focus::placeholder, .custom-input textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.custom-input input:focus, .custom-input textarea:focus {
  background: transparent;
  border: 1px solid #00c9ff;
  box-shadow: none;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/* Botão contato */
.btn_cntt {
  font-size: 16px;
  line-height: 50px;
  border: 1px solid #333333;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 30px;
}

.btn_cntt i {
  padding-right: 10px;
}

.bg_horizontal {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #00c9ff 50%, #333333 50%);
  background-position: 100% 0;
  transition: background-position 0.5s ease-out;
}

.bg_horizontal:hover {
  background-position: 0 0;
}

/* Botões sucesso, erro e campo obrigatório */
.botao_sucesso {
  background: #039f58;
}

.botao_campo_vazio, .botao_erro {
  background: #c23535;
}

.icon-div {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: none;
}

.icon-div i {
  font-size: 17px;
  margin: 0 5px;
  border: none;
  color: #fff;
}

.icon-div i:hover {
  color: #000;
}

.icon-div .middle-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.campo-erro {
  color: #c23535;
  position: absolute;
  margin-top: 5px;
}

.campo-erro i {
  margin-right: 7px;
}

.has-error {
  border: 1px solid #c23535;
}

#limparErros {
  padding: 0;
  border: none;
  color: #fff;
}

#limparErros:hover {
  color: #000;
}

/* linha que remove o alerta */
  .line-container {
    width: 100%;
    height: 2px;
    overflow: hidden;
    position: relative;
  }

  .line_alert {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    animation: shrinkLine 6s linear forwards;
  }

  @keyframes shrinkLine {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }


/**************** Animação de carregamento do email ****************/
body {
  background-color: #262626;
  font-family: Lato, sans-serif;
}

.loader {
  margin: 30px 0;
  position: relative;
}

.loader .loading_1 {
  position: relative;
  width: 100%;
  height: 10px;
  border: 1px solid #00c9ff;
  animation: turn 4s linear 1.75s infinite;
}

.loader .loading_1:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #00c9ff;
  box-shadow: 10px 0px 15px 0px #00c9ff;
  animation: load 2s linear infinite;
}

.loader .loading_2 {
  position: absolute;
  width: 100%;
  top: 10px;
  color: #00c9ff;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  animation: bounce 2s linear infinite;
}

@keyframes load {
  0% {
      width: 0%;
  }

  87.5% {
      width: 100%;
  }
}

@keyframes turn {
  0% {
      transform: rotateY(0deg);
  }

  6.25%,
  50% {
      transform: rotateY(180deg);
  }

  56.25%,
  100% {
      transform: rotateY(360deg);
  }
}

@keyframes bounce {

  0%,
  100% {
      top: 10px;
  }

  12.5% {
      top: 30px;
  }
}



/**************** Rodape ****************/
.rodape {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
}

.rodape_link {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.rodape_link a {
  display: inline-block;
  padding: 10px;
  background: #000;
  color: #fff;
  border: 1px solid #333333;
  border-radius: 100%;
}

.rodape_link a:hover {
  background: #fff;
  color: #000;
}

.rodape_link a i {
  display: table-cell;
  margin-right: 20px;
}

.rodape_link #top-link {
  background: transparent;
  float: right;
}

.rodape_link #top-link:hover {
  color: #00c9ff;
}

.texto_rodape {
  font-size: 20px;
  color: #fff;
  padding: 30px 0;
}

/************** Fontes **************/

@font-face {
	font-family: "Sans Black";
	src: url(../fontes/sourcesanspro-black-webfont.woff);
}

@font-face {
	font-family: "Sans Extra";
	src: url(../fontes/sourcesanspro-extralight-webfont.woff);
}

@font-face {
	font-family: "Sans Light";
	src: url(../fontes/sourcesanspro-light-webfont.woff);
}

@font-face {
	font-family: "Sans Italic";
	src: url(../fontes/sourcesanspro-lightitalic-webfont.woff);
}

h2.nome_usuario {
	font-size: 30px;
	font-family: "Sans Black";
}

h2.texto_digitado {
	color: #fff;
	font-size: 30px;
	line-height: 1.4;
	margin-bottom: 50px;
	font-family: "Sans Light";
}

b {
	font-weight: 700;
}

/************** Animação do underline da barra lateral **************/

.underline_esquerda {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

a.underline_esquerda  {
  color: #fff;
  text-decoration: none;
}

a.underline_esquerda::after  {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

a.underline_esquerda:hover::after  {
  width: 100%;
}


/************** Animação borda **************/

.draw::before, .draw::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover:before, .draw:hover:after {
    border-top-color: #fff;
    border-right-color: #fff;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover:before {
    width: 100%;
    height: 100%;
}

.draw:hover:after {
    border-color: transparent transparent #fff #fff;
    width: 100%;
    height: 100%;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
