
/*************************** Estilos para dispositivos móveis ***************************/
@media (max-width: 767.98px) {
/* section usuário */
  .area_usuario {
    background: #7b8394;
  }

  .descricao_usuario {
    padding: 0 30px 10px 30px;
  }

  .descricao_usuario a {
    width: 100%;
  }

  .carousel-item.item_header {
    height: 180px;
  }
/* /section usuário */



/* seção contato */
.loader {
  margin: 0 0 55px 0;
}
/* /seção contato */



}
/**************************** Estilos para tablets ****************************/
@media (min-width: 768px) and (max-width: 991.98px) {
/* section usuário */
  .carousel-item.item_header {
    height: 240px;
  }
  
  .descricao_usuario a {
    margin-top: 36px;
  }

  .descricao_usuario p {
    margin-top: 30px;
  }

  .area_usuario {
    height: 100vh;
  }

/* /section usuário */

/* section iformações */
  .conteudo_esquerda {
    padding-right: 100px;
  }

  .conteudo_direita p {
    padding-left: 100px;
  }
/* /section iformações */

/* section projetos */
.cntt_section {
  height: 657px;
}
.cntt_titulo h2 {
  font-size: 34px;
}
/* /section projetos */

}

/**************************** Estilos para monitores ****************************/
@media (min-width: 992px) {
/* section usuário */
  .carousel-item.item_header {
    height: 230px;
  }

  .area_usuario {
    height: 100vh;
  }
/* /section usuário */

/* section iformações */
  .conteudo_esquerda {
    padding-right: 100px;
  }
  
  .conteudo_direita p {
    padding-left: 100px;
  }
/* /section iformações */

/* section projetos */
  .col-central {
    max-width: 300px;
}

  .cntt_section {
    height: 755px;
  }
/* /section projetos */
}


/**************************** Ajustes extras ****************************/
@media (max-width: 495px) {
  .menu-side {
    margin-top: 120px;
  }

  .carousel-item.item_header {
    height: 240px;
  }
/* section projetos */
.col-6 {
  flex: 0 0 auto;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}
/* /section projetos */

}

