
/*************************** Estilos para dispositivos móveis ***************************/
@media (max-width: 767.98px) {
  .content.menu-responsivo {
    height: calc(100% - 270px);
    transition: width 0.06s ease;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s, height 0.3s ease, width 0.3s ease;
  }

  a.underline_esquerda  {
    max-width: 100%;
  }
  
  .show-menu .content-wrap, .show-menu .menu-button {
    -webkit-transform: translate3d(0,270px,0);
    transform: translate3d(0,270px,0);
  }

  .menu-side {
    width: auto;
  }

  .carousel-item.item_header {
    height: 240px;
  }

/* section usuário */

  .descricao_usuario {
    padding: 0 30px 10px 30px;
  }

  .descricao_usuario a {
    width: 100%;
  }

  .carousel-item.item_header {
    height: 180px;
  }

  .menu-side a {
    padding: 0.5em;
  }

  .menu-top {
    line-height: 30px;
  }
/* /section usuário */



/* seção contato */
.loader {
  margin: 0 0 55px 0;
}
/* /seção contato */


}
/**************************** Estilos para tablets ****************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  .content.menu-responsivo {
    width: calc(100% - 210px);
    height: calc(100% - 60px);
    transition: width 0.3s ease, height 0.3s ease;
  }

  .bloco-total {
    max-width: 450px;
  }

  .show-menu .bloco-total {
    width: 100%;
  }

  .carousel-item.item_header {
    height: 268px;
  }

  .show-menu .descricao_usuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .show-menu .descricao_usuario a {
    width: 249px;
  }
    
/* section usuário */
  .carousel-item.item_header {
    height: 242px;
  }
  
  .show-menu .carousel-item.item_header {
    height: 149px;
  }
  
  .descricao_usuario a {
    margin-top: 36px;
  }

  .descricao_usuario p {
    margin-top: 30px;
  }

/* /section usuário */

/* section iformações */
  .conteudo_esquerda {
    padding-right: 100px;
  }

  .conteudo_direita p {
    padding-left: 100px;
  }
/* /section iformações */

/* section projetos */
.cntt_titulo h2 {
  font-size: 34px;
}
/* /section projetos */

}

/**************************** Estilos para monitores ****************************/
@media (min-width: 992px) {

  .content.menu-responsivo {
    width: calc(100% - 210px);
    height: calc(100% - 60px);
    transition: width 0.3s ease, height 0.3s ease;
  }

  .bloco-total {
    max-width: 450px;
  }
  
/* section usuário */
  .carousel-item.item_header {
    height: 230px;
  }
/* /section usuário */

/* section iformações */
  .conteudo_esquerda {
    padding-right: 100px;
  }
  
  .conteudo_direita p {
    padding-left: 100px;
  }
/* /section iformações */

/* section projetos */
  .col-central {
    max-width: 300px;
}

/* /section projetos */
}


/**************************** Ajustes extras ****************************/
@media (max-width: 495px) {
  .content.menu-responsivo {
    height: calc(100% - 300px);
    transition: width 0.06s ease;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s, height 0.3s ease, width 0.3s ease;
  }

  a.underline_esquerda  {
    max-width: 100%;
  }

  .show-menu .content-wrap, .show-menu .menu-button {
    -webkit-transform: translate3d(0,300px,0);
    transform: translate3d(0,300px,0);
  }

  .menu-side {
    width: auto;
  }

  .carousel-item.item_header {
    height: 240px;
  }

  .menu-side a {
    padding: 0.5em;
  }
  
/* section projetos */
.col-6 {
  flex: 0 0 auto;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}
/* /section projetos */

}

